<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <img src="{{ url_for('static', filename='pablo-gentile-3MYvgsH1uK0-unsplash.jpg') }}" width="50%" height="50%" alt="Image">
        <br>
        <form action="{{ url_for('greet') }}" method="post">
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
            <br>
            <input type="text" name="name_input">
            <br>
            <input type="submit" value="GREET" id="greet">
        </form>
    </body>
</html>